@font-face {
  font-family: "Reggae";
  src: url("../assets/ReggaeOne-Regular.ttf"), format("truetype");
  src: url("../assets/ReggaeOne-Regular.woff"), format("woff");
  src: url("../assets/ReggaeOne-Regular.woff2"), format("woff2");
}

body {
  background-color: #ffb0ff;
  color: #000;
  font-family: "Reggae";
  box-sizing: border-box;
  margin: 0;
}

$index-stack: 1;

.header {
  position: sticky;
  top: 0;
  z-index: $index-stack;
}

#game-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
$menu-color: #7d007d;

.navbar {
  background-color: $menu-color;
  color: #fff;
  border-bottom: 3.5px solid #000;
}

.nav-options {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;

  .site-title {
    font-size: calc(24px + 1vw);
  }

  .nav-link {
    font-size: calc(14px + 0.5vw);
    text-decoration: none;
    color: inherit;

    &:hover {
      color: #e8e8e8;
    }
  }
}

@mixin grid-img-rules {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-out;
  border: 2px solid #280038;

  &:hover {
    border-width: 4px;
  }
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .img-grid-container,
  .leaderboard-img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    gap: 24px;

    img {
      @include grid-img-rules();
    }
  }
}

.leaderboard-div {
  text-align: center;
}

.leaderboard-img-grid {
  padding-top: 3vh;
  button {
    border: none;
    background-color: inherit;
  }
}

.flex-entry-container {
  border: 3px solid #000;
  border-radius: 12px;
  background-color: #000000;
  color: #fff;
  padding: 12px;

  .outer-flex {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 1fr));
  }
}

.objectives-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2vh;
  border: 3px solid #000;
  padding: 2vw 2vh;

  .start-btn {
    font-family: inherit;
    font-size: 32px;
    border: 1.4px solid #000;
    border-radius: 8px;
    background-color: inherit;

    &:hover {
      background-color: #eec1ff;
    }
  }
}

.objective-img-container {
  display: flex;
  gap: 0 4vw;

  .objective-img-div {
    width: 25vw;

    img {
      width: 100%;
      height: calc(100px + 1vw);
      object-fit: contain;
    }

    p {
      font-size: calc(6px + 1vw);
    }
  }
}

.game-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .center-objectives {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
}

.thumbnail-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: calc($index-stack + 1);
  background-color: $menu-color;
  color: #fff;
  padding-top: 2vh;
  border-bottom: 3px solid #000;

  .validation-text {
    font-size: 24px;
  }

  .thumbnail-nav {
    display: flex;
    justify-content: center;
    gap: 0 8vw;
  }

  p {
    margin: 0;
    font-size: calc(6px + 1vw);
  }

  span {
    align-self: center;
    font-size: calc(22px + 0.5vw);
  }

  .thumbnail-img {
    width: 15vw;

    img {
      width: 100%;
      object-fit: contain;
      height: 75px;
    }
  }

  .found-img {
    opacity: 50%;
  }
}

.game-img-container {
  width: 100%;

  img {
    width: 100%;
    height: auto;
  }
}

.choices-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #000;
  padding: 6px;
  border-radius: 8px;

  button {
    font-family: inherit;
    font-size: 20px;
    border: none;
    background-color: inherit;
    color: #fff;

    &:hover {
      background-color: $menu-color;
    }
  }
}

.padded-container {
  padding: 0 4vw;
}

.form-flex-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .score-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    padding: 12px;
    border-radius: 12px;
    gap: 6px;

    .score-info {
      font-size: calc(32px + 1vw);
    }

    input {
      font-family: inherit;
      font-size: 16px;
    }

    button {
      background-color: #000;
      border: none;
      font-family: inherit;
      font-size: 18px;
      color: #fff;
      border-radius: 12px;
      padding: 2vh 0;

      &:hover {
        background-color: $menu-color;
      }
    }
  }
}

.about-container {
  flex: 1 1 auto;
  display: flex;
  background-color: #000;
  color: #fff;

  .about-flex {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .link-container {
    display: flex;
    gap: 12px;
  }

  a:visited {
    color: #f9c9f9;
  }
}

.loading-container {
  flex: 1 1 auto;
  background-color: #000;
  color: #fff;
  font-size: calc(32px + 0.5vw);

  .animate-load {
    color: #ffb0ff;
  }
}
